@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.butonProfesor
{
    background:none;
    border:none;
    padding:4px 7px;
    margin: 0 5px;
    background-color:#FFC966;
    font-family: Ubuntu;
    font-size:125%;
    border-radius: 2px;
}

.butonProfesor:hover
{
    background-color: rgb(219, 166, 66);
    cursor: pointer;
}


@media screen and (max-width:1000px)
{
    .butonProfesor
    {
        font-size:100%;
        padding:3px 6px;
    }
}

@media screen and (max-width:750px)
{
    .butonProfesor
    {
        display: block;
        width:70%;
        margin: 5px auto 0 auto;
    }
}