@import url('https://fonts.googleapis.com/css?family=Ubuntu');



.butonStart
{
    height:250px;
    width:250px;
    border:none;
    border-radius: 50%;
    height:250px;
    width:250px;
    border:none;
    background:none;
    background-color: #FFC966;
    border: 18px solid rgb(227,71,0);
    border-radius: 50%;
    font-size:250%;
    font-family: Ubuntu;
    display: block;
    margin:0 auto;
}

.cautaCod
{
    display: block;
    margin:0 auto;
    margin-top:50px;
    width:250px;
    padding:6px;
    font-size:110%;
    border:none;
    background:none;
    background-color: #071D2B;
    color:white;
}