@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html, body
{
  height:100%;
  margin:0;
  padding:0;
  font-family: Ubuntu;
}
.container
{
  background-color: #D7DAE3;
  background-image: url('./Assets//fundal.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:85%;
  margin:0 auto;
  min-height: 100vh;  
  margin-bottom: -70px;
}
.content
{
  width: 60%;
  margin: 5% auto 0 auto;
  padding-bottom: 50px;
}
.footer
{
  width:85%;
  margin:0 auto;
}
.footer h3, .footer p
{
  margin:0;
  padding:10px 0 15px 25px;
  font-family: Ubuntu;
  font-size:75%;
}
@media screen and (max-width:1000px)
{
  .content
  {
    width:75%;
  }
}
@media screen and (max-width:750px)
{
  .footer
  {
    display: none;
  }
}
@media screen and (max-width:600px)
{
    .container
    {
      width:100%;
    }
}

@media screen and (max-width:500px)
{
  .content
  {
    width:80%;
    margin-top:20%;
    }
}